<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head><meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	</head>
	<body>
	<center>
		<h1 style="margin-top:2%">Utazási terv</h1>
	</center>
		<div class="container">
			<div class="p-4 mb-3 bg-light rounded">
				<form action="#" method="POST" th:object="${searchingData}" th:action="@{/index}">
					<div class="form-group">
						<label>Honnan? </label>
						<input required type="text" class="form-control" id="departure" placeholder="Honan?" th:field="*{departure}">
					</div>
					<div class="form-group">
						<label>Hova? </label>
						<input required type="text" class="form-control" id="arrival" placeholder="Hova?"th:field="*{arrival}">
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="bus" th:checked="*{bus}">
						<label class="form-check-label" for="exampleCheck1">Busz</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="ship" th:checked="*{ship}">
						<label class="form-check-label" for="exampleCheck1">Hajó</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="plane" th:checked="*{plane}">
						<label class="form-check-label" for="exampleCheck1">Repülőgép</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="train" th:checked="*{train}">
						<label class="form-check-label" for="exampleCheck1">Vonat</label>
					</div>
					<button type="submit" class="btn btn-primary" style="margin-top:1%">Keresés</button>
				</form>
			</div>
		</div>
		<div class="container" style="margin-top:2%">
			<div class="p-4 mb-3 bg-light rounded">
			<h1 style="padding:1%" >Útvonalak: </h1>
				<table class="table datatable">
					<thead>
						<tr>
							<th>Indulási pont</th>
							<th>Érkezési pont</th>
							<th>Érintett városok</th>
							<th>Busz</th>
							<th>Hajó</th>
							<th>Repülőgép</th>
							<th>Vonat</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(routes)}">
							<td colspan="5"><h3>Nincs elérhető útvonal.<h3></td>
						</tr>
						<tr th:each="route : ${routes}">
							<td th:text="${route.departure}"></td>
							<td th:text="${route.arrival}"></td>					
							<td th:text="${route.via}"></td>
							<td th:text="${route.bus}"></td>
							<td th:text="${route.ship}"></td>
							<td th:text="${route.plane}"></td>
							<td th:text="${route.train}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>



