<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta charset="UTF-8">
        <title>Átszállási pontok</title>
        <link rel="icon" type="image/x-icon" href="img/icon.ico">

		<!--<link th:rel="stylesheet" th:href="@{/webjars/css/bootstrap.min.css}"/>-->
		<link rel="stylesheet" href="webjars/css/main.css"/>
		<link rel="stylesheet" href="webjars/css/bootstrap.min.css"/>

		<script src="webjars/js/bootstrap.min.js"></script>
	</head>
	<body>
	    <nav class="navbar sticky-top navbar-dark bg-primary">
		    <a class="user-select-none navbar-brand mb-0 h1">Átszállási terv</a>  
	    </nav>
		<div class="container" id="container2">
			<div class="alert alert-secondary">
                <h2 class="user-select-none">
                    <span th:text="${travelInfos != null} ? ${travelInfos[0].fromSettlement.settlementName} + '-' : ' '"></span>
					<span th:text="${travelInfos != null} ? ${travelInfos[0].toSettlement.settlementName} : ' '"></span>
                </h2>
				<table class="table table-borderless">
					<thead class="user-select-none">
						<tr>
							<th>Közlekedési eszköz</th>
							<th>Utazási idő (perc)</th>
							<th>Utazási távolság (km)</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(travelInfos)}">
							<td colspan="2">
								<h3>Hiba történt.</h3>
							</td>
						</tr>
						<tr th:each="ti : ${travelInfos}">					
							<td th:text="${ti.transportType}"></td>						
                            <td th:text="${ti.travelTime}"></td>
                            <td th:text="${ti.travelDistance}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>